body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    height: 100%;
    width: 100%;
}

.cabeça {
    background-color: #1e293b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.guias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #1e293b;
    padding: 0 0 20px 45px;
}

.guias a {
    text-decoration: none;
    color: #e2e8f0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.guias a:hover {
    color: #38bdf8;
}

.guias span {
    background-color: #38bdf8;
    color: #000000;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
}

.espaço_jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.espaço_jogo p {
    font-size: 28px;
    font-weight: 300;
}

.espaço_letras {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

#Letra {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

#Letra::placeholder{
    text-transform: none;
}

#botao_envia, #botao_reinicia {
    background-color: #22c55e;
    color: white;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

#botao_envia:hover, #botao_reinicia:hover {
    background-color: #16a34a;
    transform: scale(1.05);
}

#bloqueio {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(15, 23, 42, 0.8);
    z-index: 10;
}

.letras_erradas {
    width: 500px;
    height: 75px;
    border: 1px solid #38bdf8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash_vermelho {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(239, 68, 68, 0.4);
    z-index: 10;
}

button:hover {
    opacity: 0.9;
}

* {
    transition: all 0.2s ease-in-out;
}